@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import './normalizer';

h1 {
    padding: .5rem;
    border-radius: 4px;
}

iframe, .intelContainer, h1, #scanner {
    -webkit-box-shadow: 0px 0px 7px 1px lighten(#000000 , 80%); 
    box-shadow: 0px 0px 7px 1px lighten(#000000 , 80%);
}

#frameSection {
    margin-bottom: 5rem;
    iframe {
        width: 100%;
        height: 600px;
        border: none;
    }
    .intelContainer {
        margin-top: .5rem;
        padding: .5rem;
        margin-bottom: 1rem;
        border-radius: 4px;
    }

    iframe, .intelContainer {
        display: none;
    }
}


body {
    font-family: 'Roboto', sans-serif;
}

section {
    width: 90%;
    margin: auto;
}

.btn {
    text-transform: uppercase;
    width: 30%;
    height: 40px;
    background-color: #226D68;
    color: #ECF8F6;
    border: none;
    transition: background-color .3s, transform .3s, opacity .3s;

    &:hover  {
        background-color: lighten(#226D68 , 20%);
        transform: scale(1.1);
        transition: background-color .3s, transform .3s;
    }

    &:disabled {
        opacity: 40%;
        transition: background-color .3s, transform .3s, opacity .3s;
    }

    &:active {transform: scale(.9);}
}

#btnSection {
    backdrop-filter: blur(2px);
    width: 100%;
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    padding-top: .3rem;
    -webkit-box-shadow: 0px -4px 7px 1px lighten(#000000 , 80%); 
    box-shadow: 0px -4px 7px 1px lighten(#000000 , 80%);
    
    button {
        &:nth-child(1) {
            border-top-right-radius: 4px;
        }
        &:nth-child(2) {
            border-top-left-radius: 4px;
            border-top-right-radius: 4px;
        }
        &:nth-child(3) {
            border-top-left-radius: 4px;
        }
    }
}

#error {
    background-color: rgba(221, 21, 21, 0.2);
    padding: .5rem;
    color: red;
    border-left: 7px solid red;
    display: none;
}

.headTitle {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
}