@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import './normalizer';

iframe {
    width: 100%;
    height: 600px;
}

body {
    font-family: 'Roboto', sans-serif;
}

section {
    width: 90%;
    margin: auto;
}

#btnSection {
    width: 100%;
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    

    button {
        width: 30%;
        height: 30px;
    }
}

